{{- if not .Restricted }}
apiVersion: v1
kind: Secret
metadata:
  name: {{.Name}}-secret
  namespace: {{.Namespace}}
type: Opaque
data:
{{- range $key, $value := .SecretMap }}
  {{ $key }}: "{{ $value }}"
{{- end }}
{{- end }}
